In [1]:
import numpy as np
import pandas as pd
myFrame = pd.read_csv(r"C:\Users\Ahmed\Downloads\titanic.csv")
print(myFrame.head(10))

   pclass  survived                                             name     sex  \
0     1.0       1.0                    Allen, Miss. Elisabeth Walton  female
1     1.0       1.0                   Allison, Master. Hudson Trevor    male
2     1.0       0.0                     Allison, Miss. Helen Loraine  female
3     1.0       0.0             Allison, Mr. Hudson Joshua Creighton    male
4     1.0       0.0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female
5     1.0       1.0                              Anderson, Mr. Harry    male
6     1.0       1.0                Andrews, Miss. Kornelia Theodosia  female
7     1.0       0.0                           Andrews, Mr. Thomas Jr    male
8     1.0       1.0    Appleton, Mrs. Edward Dale (Charlotte Lamson)  female
9     1.0       0.0                          Artagaveytia, Mr. Ramon    male

       age  sibsp  parch    ticket      fare    cabin embarked boat   body  \
0  29.0000    0.0    0.0     24160  211.3375       B5        S    2    NaN
1   0.9167    1.0    2.0    113781  151.5500  C22 C26        S   11    NaN
2   2.0000    1.0    2.0    113781  151.5500  C22 C26        S  NaN    NaN
3  30.0000    1.0    2.0    113781  151.5500  C22 C26        S  NaN  135.0
4  25.0000    1.0    2.0    113781  151.5500  C22 C26        S  NaN    NaN
5  48.0000    0.0    0.0     19952   26.5500      E12        S    3    NaN
6  63.0000    1.0    0.0     13502   77.9583       D7        S   10    NaN
7  39.0000    0.0    0.0    112050    0.0000      A36        S  NaN    NaN
8  53.0000    2.0    0.0     11769   51.4792     C101        S    D    NaN
9  71.0000    0.0    0.0  PC 17609   49.5042      NaN        C  NaN   22.0

                         home.dest
0                     St Louis, MO
1  Montreal, PQ / Chesterville, ON
2  Montreal, PQ / Chesterville, ON
3  Montreal, PQ / Chesterville, ON
4  Montreal, PQ / Chesterville, ON
5                     New York, NY
6                       Hudson, NY
7                      Belfast, NI
8              Bayside, Queens, NY
9              Montevideo, Uruguay

In [2]:
print(f"num of rows: {myFrame.shape[0]}")
print(f"num of columns: {myFrame.shape[1]}")
print(myFrame.info())
print((pd.DataFrame(myFrame)).columns)

num of rows: 1310
num of columns: 14
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1310 entries, 0 to 1309
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1309 non-null   float64
 1   survived   1309 non-null   float64
 2   name       1309 non-null   object
 3   sex        1309 non-null   object
 4   age        1046 non-null   float64
 5   sibsp      1309 non-null   float64
 6   parch      1309 non-null   float64
 7   ticket     1309 non-null   object
 8   fare       1308 non-null   float64
 9   cabin      295 non-null    object
 10  embarked   1307 non-null   object
 11  boat       486 non-null    object
 12  body       121 non-null    float64
 13  home.dest  745 non-null    object
dtypes: float64(7), object(7)
memory usage: 143.4+ KB
None
Index(['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype='object')

In [3]:
print(myFrame.isnull().sum())

pclass          1
survived        1
name            1
sex             1
age           264
sibsp           1
parch           1
ticket          1
fare            2
cabin        1015
embarked        3
boat          824
body         1189
home.dest     565
dtype: int64

In [6]:
from sklearn.preprocessing import LabelEncoder
labelEncoder = LabelEncoder()
myFrame2 = myFrame
i = myFrame.select_dtypes(include=['object'])
for j in i:
    myFrame2[j] = labelEncoder.fit_transform(myFrame[j])
print(myFrame2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1310 entries, 0 to 1309
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1309 non-null   float64
 1   survived   1309 non-null   float64
 2   name       1310 non-null   int32
 3   sex        1310 non-null   int32
 4   age        1046 non-null   float64
 5   sibsp      1309 non-null   float64
 6   parch      1309 non-null   float64
 7   ticket     1310 non-null   int32
 8   fare       1308 non-null   float64
 9   cabin      1310 non-null   int32
 10  embarked   1310 non-null   int32
 11  boat       1310 non-null   int32
 12  body       121 non-null    float64
 13  home.dest  1310 non-null   int32
dtypes: float64(7), int32(7)
memory usage: 107.6 KB
None

In [8]:
print(myFrame2.isnull().sum())
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy = "mean")
myFrame3 = pd.DataFrame(imputer.fit_transform(myFrame2), columns=myFrame2.columns)# SimpleImputer returns a numpy array,
print(myFrame3.isnull().sum())

pclass          1
survived        1
name            0
sex             0
age           264
sibsp           1
parch           1
ticket          0
fare            2
cabin           0
embarked        0
boat            0
body         1189
home.dest       0
dtype: int64
pclass       0
survived     0
name         0
sex          0
age          0
sibsp        0
parch        0
ticket       0
fare         0
cabin        0
embarked     0
boat         0
body         0
home.dest    0
dtype: int64

In [9]:
print(myFrame3.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1310 entries, 0 to 1309
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1310 non-null   float64
 1   survived   1310 non-null   float64
 2   name       1310 non-null   float64
 3   sex        1310 non-null   float64
 4   age        1310 non-null   float64
 5   sibsp      1310 non-null   float64
 6   parch      1310 non-null   float64
 7   ticket     1310 non-null   float64
 8   fare       1310 non-null   float64
 9   cabin      1310 non-null   float64
 10  embarked   1310 non-null   float64
 11  boat       1310 non-null   float64
 12  body       1310 non-null   float64
 13  home.dest  1310 non-null   float64
dtypes: float64(14)
memory usage: 143.4 KB
None

In [10]:
myFrame3['survived'] = myFrame3['survived'].astype(int) # in a logistic regression model, target shoult be discrete, "int"
print(myFrame3.head(5))

   pclass  survived  name  sex      age  sibsp  parch  ticket      fare  \
0     1.0         1  21.0  0.0  29.0000    0.0    0.0   187.0  211.3375
1     1.0         1  23.0  1.0   0.9167    1.0    2.0    49.0  151.5500
2     1.0         0  24.0  0.0   2.0000    1.0    2.0    49.0  151.5500
3     1.0         0  25.0  1.0  30.0000    1.0    2.0    49.0  151.5500
4     1.0         0  26.0  0.0  25.0000    1.0    2.0    49.0  151.5500

   cabin  embarked  boat        body  home.dest
0   43.0       2.0  11.0  160.809917      308.0
1   79.0       2.0   2.0  160.809917      230.0
2   79.0       2.0  27.0  160.809917      230.0
3   79.0       2.0  27.0  135.000000      230.0
4   79.0       2.0  27.0  160.809917      230.0

In [14]:
from sklearn.model_selection import train_test_split

x = myFrame3.drop(["survived"], axis = 1)
y = myFrame3["survived"]

xTrain, xTest, yTrain, yTest = train_test_split(x, y, test_size = 0.2, random_state = 42)

In [16]:
from sklearn.tree import DecisionTreeClassifier

clf = DecisionTreeClassifier()
clf.fit(xTrain, yTrain)
yPredCLF = clf.predict(xTest)

In [17]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

def evaluatePerformance(y_true, y_pred):
    accuracy = accuracy_score(y_true, y_pred)
    precision = precision_score(y_true, y_pred)
    recall = recall_score(y_true, y_pred)
    f1 = f1_score(y_true, y_pred)
    
    print(f"Accuracy: {accuracy}")
    print(f"Precision: {precision}")
    print(f"Recall: {recall}")
    print(f"F1-score: {f1}")

In [21]:
print(f"{evaluatePerformance(yTest, yPredCLF)}")

Accuracy: 0.9694656488549618
Precision: 0.956140350877193
Recall: 0.9732142857142857
F1-score: 0.9646017699115044
None

In [26]:
comp = pd.DataFrame({'Predicted': yPredCLF, 'Actual': yTest})
print(comp)

     Predicted  Actual
701          0       0
994          0       0
350          1       1
986          0       0
409          0       0
..         ...     ...
209          1       1
306          0       0
140          1       1
919          0       0
982          0       0

[262 rows x 2 columns]

In [27]:
from sklearn.ensemble import GradientBoostingClassifier, VotingClassifier
gradientModel = GradientBoostingClassifier()

gradientModel.fit(xTrain, yTrain)
yPredGrad = gradientModel.predict(xTest)

In [28]:
print(f"{evaluatePerformance(yTest, yPredGrad)}")

Accuracy: 0.9732824427480916
Precision: 0.9646017699115044
Recall: 0.9732142857142857
F1-score: 0.9688888888888889
None

In [31]:
votingClassifier = VotingClassifier(estimators=[('gradient', gradientModel), ('decision_tree', clf)], voting='hard')
votingClassifier.fit(xTrain, yTrain)
yPredEnse = votingClassifier.predict(xTest)

evaluatePerformance(yTest, yPredEnse)

Accuracy: 0.9732824427480916
Precision: 0.9646017699115044
Recall: 0.9732142857142857
F1-score: 0.9688888888888889